body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../assets/img/background.png') no-repeat center center;
    background-size: cover;
}

.bear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
}

.fish {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.pig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}

.giraffe {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}

/* 창살 애니메이션 */
.prison {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: slideIn 3s ease-out forwards; /* 애니메이션 적용 */
}

@keyframes slideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* FIRED!! 텍스트 스타일 및 애니메이션 */
.fired {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 9rem;
    font-weight: bold;
    opacity: 0; /* 처음에는 숨겨짐 */
    animation: appear 1s 2s forwards; /* 애니메이션 적용, 2초 후 시작 */
}

@keyframes appear {
    from {
        opacity: 0; /* 애니메이션 시작 시 투명함 */
        transform: translateX(-50%) scale(1.5); /* 약간 커진 상태로 시작 */
    }
    to {
        opacity: 1; /* 애니메이션 종료 시 완전히 보이게 */
        transform: translateX(-50%) scale(1); /* 원래 크기로 돌아옴 */
    }
}
