body,html
{
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: url('../assets/img/background.png') no-repeat center;
    background-size: cover;
}

#user 
{
    z-index: 209;

    position: absolute;
    width: 15%;
    max-width: 90px;
    padding: 20px;
}



.container
{
    z-index: 201;

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;
    width: 500px;
    max-width: 100%;

    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(158, 124, 106, 0.6);   
}

.overlay
{
    z-index: 200;

    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}


h2
{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

form
{
    display: flex;
    flex-direction: column;
}

label
{
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input
{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button
{
    padding: 10px;
    background-color: #2f2523;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover
{
    background-color: #ff0101;
}



#character 
{
    height: 70%;
    position: relative;
    overflow: hidden;
}

.animal 
{
    width: 35%;
    position: absolute;
    bottom: 0%;
}

#fish 
{
    z-index: 1;
    left: 5%;
    width: 25%;
}

#pig 
{
    z-index: 1;
    left: 29%;
    width: 25%;
}

#giraffe
{
    z-index: 1;
    right: 33%;
    width: 20%;
}

#bear
{
    z-index: 1;
    right: 5%;
}

#name
{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 250px;
}

#name_text
{
    z-index: 103;
    position: relative;

    left: 105px;
    top: 20px;

    font-size: 2.5em;
}

#name_log
{
    z-index: 102;
    position: absolute;
    width: 70%;

    top: 10%;
}

#log
{
    z-index: 103;
    height: 30%;
    margin: 0%;
    padding-left: 100px;
    padding-top: 130px;

    font-size: large;
    color: aliceblue;

    background-color: rgba(19, 19, 19, 0.8);
}

#fire
{
    position: absolute;
    width: 15%;
    min-width: 100px;
    right: 1%;
    bottom: 1%;
}