
body {
    margin: 0;
    padding: 0;
    font-family: 'CookieRun', sans-serif;
    background: url('../assets/img/background.pngimages/background.png') no-repeat center center fixed;
    background-size: cover;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.inventory::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/background.pngimg/background.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.panel {
    background: url('../assets/img/background.pngimg/panel.png') no-repeat center center;
    background-size: contain;
    width: 1105px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.title {
    margin-bottom: 15px;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    color: #1a1a1a;
    letter-spacing: 12px;
}

.whiteboard {
    background-color: #d9d9d9;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 54.7px;
}

.photo-box, .big-photo-box, .large-photo-box {
    position: relative;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.photo-box {
    width: 223px;
    height: 301px;
}

.big-photo-box {
    width: 223px;
    height: 420px;
}

.large-photo-box {
    width: 300px;
    height: 301px;
}

.photo-box img {
    width: 200px;
    height: auto;
    margin-bottom: -40px;
}

.big-photo-box img {
    width: 160px;
    height: auto;
    margin-top: 30px;
}

.large-photo-box img {
    width: 250px;
    height: auto;
    margin-bottom: -40px;
}

.clip {
    position: absolute;
    top: -20px;
    width: 42.13px;
    height: 76.53px;
}

.clip1 {
    background: url('../assets/img/clip1.png') no-repeat center center;
    background-size: contain;
}

.clip2 {
    background: url('../assets/img/clip2.png') no-repeat center center;
    background-size: contain;
}

.clip3 {
    background: url('../assets/img/clip3.png') no-repeat center center;
    background-size: contain;
}

.clip4 {
    background: url('../assets/img/clip4.png') no-repeat center center;
    background-size: contain;
}

.speech-bubble {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    font-family: 'pretendard';
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.photo-background {
    background: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border: 1px solid #ddd;
}

.photo-background img {
    padding: 40px 10px 0px 10px;
    background: rgba(252, 86, 89, 0.25);
    /* background: linear-gradient(180deg, rgba(35,60,101,25) 0%, rgba(50,78,119,1) 16%, rgba(94,114,133,1) 37%, rgba(154,136,118,1) 63%, rgba(255,230,138,0.6551412801448704) 89%, rgba(255,230,138,0) 100%); */
}
