body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.animalsImage {
    width: 300px;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
}

.container {
    background-color: rgba(158, 124, 106, 0.6); /* 살짝 투명한 배경색 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #2f2523;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0101;
}
