@import url('font.css');

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'CookieRun';
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Backgrounds */
.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* Inventory Container */
.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

/* Panel Styles */
.panel {
    background: url('../img/panel.png') no-repeat center center;
    background-size: contain;
    width: 1100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Title Styles */
.title {
    margin-bottom: 15px;
    font-size: 64px;
    font-weight: bold;
    color: #1a1a1a;
    letter-spacing: 12px;
}

/* Whiteboard Styles */
.whiteboard {
    background: url('../img/board.png') no-repeat center center;
    background-size: 105% 110%;
    width: 1100px;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

/* Photo Box Styles */
.photo-box, .big-photo-box, .large-photo-box {
    position: relative;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

/* Fish, Pig */
.photo-box {
    width: 223px !important;
    height: 301px;
}

/* Giraffe */
.big-photo-box {
    width: 223px !important;
    height: 420px;
}

/* Bear */
.large-photo-box {
    width: 300px !important;
    height: 301px;
    padding: 5px !important;
}

.photo-box img {
    width: 200px;
    height: auto;
    margin-bottom: -40px;
}

.big-photo-box img {
    width: 160px;
    height: auto;
    margin-top: 30px;
}

.large-photo-box img {
    width: 230px;
    height: auto;
    margin-bottom: -40px;
}

/* Clipper Styles */
.clip {
    position: absolute;
    top: -20px;
    width: 42.13px;
    height: 76.53px;
}

.clip1 { background: url('../img/clip1.png') no-repeat center center; background-size: contain; }
.clip2 { background: url('../img/clip2.png') no-repeat center center; background-size: contain; }
.clip3 { background: url('../img/clip3.png') no-repeat center center; background-size: contain; }
.clip4 { background: url('../img/clip4.png') no-repeat center center; background-size: contain; }

/* Photo Background Styles */
.photo-background {
    background: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px !important;
    border: 1px solid #ddd;
}

.photo-background img {
    padding: 40px 10px 0px 10px;
    background: rgba(49, 49, 49, 0.25);
}

